# Copy this file to .env and fill in the values for your environment.
POSTGRES_PASSWORD=unicentpassword
POSTGRES_DB=unicent
POSTGRES_SCHEMA=public
POSTGRES_PORT=5432
POSTGRES_USER=unicent

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=${POSTGRES_SCHEMA}"




AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_RESEND_KEY=
AUTH_SECRET= # Generate it using `npx auth`. Read more: https://cli.authjs.dev

AUTH_RESEND_FROM=
REDIS_URL="redis://localhost:6379" # or your Redis provider URL (e.g., Upstash, Redis Labs) for caching
powens_client_id= # Your Powens client ID or any other banking client ID data provider
powens_client_secret= # Your Powens client secret or any other banking client secret data provider

UPSTASH_REDIS_REST_URL="your-redis-rest-url"
UPSTASH_REDIS_REST_TOKEN="your-redis-rest-token"
  